.wy-nav-side {
    background: #73364C;
}

.wy-side-nav-search {
    background-color: #E5DFF2;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #F2C791;
}

.wy-nav-top {
    color: black;
    background: #E5DFF2;
}

.wy-nav-top a {
    color: black;
}